<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login Page</title>
    <link rel="stylesheet" href="/style.css">

</head>

<body>
    <div class="container">
        <h1>Login</h1>

        <% if(msg) { %>
            <p style="color:red;">
                <%= msg %>
            </p>
            <% } %>


                <form action="/login" method="POST">
                    <label> Email</label> <br>
                    <input type="email" name="email" required><br><br>

                    <label> Password</label><br>
                    <input type="password" name="password" required><br><br>


                    <button type="submit">Login</button>
                </form>
                <br>

                <a href="/signup">Create Account</a>
                <br>
                <a href="/forgot">Forgot Password?</a>
    </div>
</body>

</html>